/*#header {*/
/*    height: 30%;*/
/*    border: 5px solid black;*/
/*    margin: 5px*/
/*}*/
/*#main{*/

/*    height:40%;*/
/*    width: 70%;*/
/*    border: 5px solid black;*/
/*    float: left;*/
/*}*/
/*#sidebar{*/
/*    height:40%;*/
/*    width: 30%;*/
/*    border: 5px solid black;*/
/*    float: right;*/
/*}*/
/*#footer{*/
/*    border: 5px solid black;*/
/*    height: 30%;*/
/*    width: 100%;*/
/*    clear: both;*/
/*}*/
/** {*/
/*    box-sizing: border-box;*/
/*}*/

/*html, body {*/
/*    height: 100%;*/
/*    margin: 0px;*/
/*    padding: 0;*/
/*}*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    padding: 5px; /* Cách mép ngoài của trình duyệt */
    background-color: #f8f9fa;
}

#header,
#footer {
    height: 17.5%;
    border: 2px solid black;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #cce5ff;
}

#footer {
    height: 20%;
    margin-top: 10px;
    background-color: #e2e3e5;
}

#content {
    display: flex;
    gap: 10px;
    height: 60%;
    margin-bottom: 10px;
}

#main,
#sidebar {
    height: 100%;
    border: 2px solid black;
    padding: 5px;
}

#main {
    /*flex: 2;*/
    width:70%;
    background-color: #d4edda;
}

#sidebar {
    /*flex: 1;*/
    width:30%;
    background-color: #fff3cd;
}


